{% extends 'base.html.twig' %}

{% block title %}Hello EmployerController!{% endblock %}

{% block body %}
    <h1>Liste des employés</h1>
    {% for employe in employes %}
    <li>{{ employe }} ({{employe.entreprise.raisonSociale}})</li>
    {% endfor %}
{% endblock %}
